In [1]:
lista = ["Hola", 10, "Adios",[50,100,150]]

In [2]:
lista[-1]

[50, 100, 150]

In [3]:
lista[-1][0]

50

In [4]:
lista[-1][-1]

150

In [5]:
for numero in lista[-1]:
    print(numero)

50
100
150

In [6]:
lista = [
    "Esto es un texto",
    (1, 5, 10, 15, 20, 25),
    ["Azul", "Verde", "Amarillo"]
]

In [7]:
for coleccion in lista:
    print(coleccion)

Esto es un texto
(1, 5, 10, 15, 20, 25)
['Azul', 'Verde', 'Amarillo']

In [8]:
for coleccion in lista:
    for elemento in coleccion:
        print(coleccion, "->", elemento)

Esto es un texto -> E
Esto es un texto -> s
Esto es un texto -> t
Esto es un texto -> o
Esto es un texto ->
Esto es un texto -> e
Esto es un texto -> s
Esto es un texto ->
Esto es un texto -> u
Esto es un texto -> n
Esto es un texto ->
Esto es un texto -> t
Esto es un texto -> e
Esto es un texto -> x
Esto es un texto -> t
Esto es un texto -> o
(1, 5, 10, 15, 20, 25) -> 1
(1, 5, 10, 15, 20, 25) -> 5
(1, 5, 10, 15, 20, 25) -> 10
(1, 5, 10, 15, 20, 25) -> 15
(1, 5, 10, 15, 20, 25) -> 20
(1, 5, 10, 15, 20, 25) -> 25
['Azul', 'Verde', 'Amarillo'] -> Azul
['Azul', 'Verde', 'Amarillo'] -> Verde
['Azul', 'Verde', 'Amarillo'] -> Amarillo

In [11]:
for indice_coleccion, coleccion in enumerate(lista):
    for indice_elemento, elemento in enumerate(coleccion):
        print(coleccion, "->", elemento)

Esto es un texto -> E
Esto es un texto -> s
Esto es un texto -> t
Esto es un texto -> o
Esto es un texto ->
Esto es un texto -> e
Esto es un texto -> s
Esto es un texto ->
Esto es un texto -> u
Esto es un texto -> n
Esto es un texto ->
Esto es un texto -> t
Esto es un texto -> e
Esto es un texto -> x
Esto es un texto -> t
Esto es un texto -> o
(1, 5, 10, 15, 20, 25) -> 1
(1, 5, 10, 15, 20, 25) -> 5
(1, 5, 10, 15, 20, 25) -> 10
(1, 5, 10, 15, 20, 25) -> 15
(1, 5, 10, 15, 20, 25) -> 20
(1, 5, 10, 15, 20, 25) -> 25
['Azul', 'Verde', 'Amarillo'] -> Azul
['Azul', 'Verde', 'Amarillo'] -> Verde
['Azul', 'Verde', 'Amarillo'] -> Amarillo

In [12]:
for indice_coleccion, coleccion in enumerate(lista):
    for indice_elemento, elemento in enumerate(coleccion):
        print(lista[indice_coleccion][indice_elemento])

E
s
t
o

e
s

u
n

t
e
x
t
o
1
5
10
15
20
25
Azul
Verde
Amarillo

In [13]:
tabla = [
    [0,0,0],
    [1,1,1],
    [2,2,2]
]

In [14]:
for fila in tabla:
    print(fila)

[0, 0, 0]
[1, 1, 1]
[2, 2, 2]

In [17]:
for fila in tabla:
    for columna in fila:
        print (columna)

0
0
0
1
1
1
2
2
2

In [18]:
for fila in tabla:
    for columna in fila:
        print (columna, end=" ")

0 0 0 1 1 1 2 2 2

In [19]:
for fila in tabla:
    for columna in fila:
        print (columna, end=" ")
    print()

0 0 0
1 1 1
2 2 2

In [22]:
for i,fila in enumerate(tabla):
    for j,columna in enumerate(fila):
        print (tabla[i][j], end=" ")
    print()

0 0 0
1 1 1
2 2 2

In [23]:
tabla = [
    [0,0,0],
    [1,1,1],
    [2,2,2]
]

cubo =[
    tabla, tabla, tabla
]

In [24]:
print(cubo[0][0][0])

0

In [25]:
print(cubo[2][1][2])

1

In [26]:
for tabla in cubo:
    for fila in tabla:
        for culumna in fila:
            print(columna)

2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2

In [31]:
for k, tabla in enumerate(cubo):
    for i, fila in enumerate(tabla):
        for j, culumna in enumerate(fila):
            print(cubo[k][i][j], end=" ")
        print()
    print()

0 0 0
1 1 1
2 2 2

0 0 0
1 1 1
2 2 2

0 0 0
1 1 1
2 2 2